body {
    background-color: blanchedalmond;
}

#titleDiv {
    display: flex;
    justify-content: center;
    font-size: 25pt; 
}

#authorDiv {
    display: flex;
    justify-content: center;
    font-size: 15pt;
}

#buttonDiv {
    display: flex;
    justify-content: center;
}

#storyDiv {
    display: flex;
    justify-content: center;
    font-size: 12pt;
}